MODE=DEV
PORT=3000
POSTGRES_HOST=localhost
POSTGRES_USER=admin
POSTGRES_PORT=5432
POSTGRES_PASSWORD=admin
POSTGRES_DATABASE=postgres
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
JWT_ACCESS_TOKEN_SECRET=secret
JWT_ACCESS_TOKEN_EXPIRATION_TIME=900000
JWT_REFRESH_TOKEN_SECRET=refresh_secret
JWT_REFRESH_TOKEN_EXPIRATION_TIME=172800000
JWT_REFRESH_TOKEN_EXPIRATION_TIME_DB=172800
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis
PSW_SECRET=10
